img {
	width: 100%;
	max-height: 72px;
  	margin: 0 auto;
  	display: block;
}
.uenmedia {
	text-align: center;
	ul li {
  list-style: none;
  display: inline;
  margin: 0 1em 0 1em;
  text-align: center;
  a {
    font-family: "ff-meta-web-pro",sans-serif;
    font-weight: normal;
    font-size: 22px;  
  }
}
}
